*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

#sidebar {
    flex-basis: 50px;
    flex-grow: 0;
    background-color: black;
   height: calc(100vh - 100px);
    color:rgb(108,108,108);
    overflow: auto;
    font-size: 0.9rem;
}

#sidebar #logo-sidebar {
    display: none;
}

.padd-bar {
    padding: 0.5rem 1rem;
    height: calc(100vh - 180px);
}

#sidebar .flex-column .flex,
ul, li, hr{
    margin-top: 0.7rem;
}
#sidebar h3 {
    margin-top: 1.2rem;
}


#user span {
font-size: 1.2rem;
font-weight: bold;
}




#sidebar i{
    font-size: 1.5rem;
    color:rgb(108,108,108);
}

#sidebar span {
    display: none;
}

#sidebar #sidebar-playlist {
    display: none;
}

#sidebar hr {
    display: none;
}

#circle-user{
    background-color: grey;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
#circle-user img{
    height: 100%;
    width:100%
}

 
/* hover per sidebar */

#sidebar i:hover {
    color: white;
}

#sidebar span:hover {
    color: white;
}

/* container centrale */

#central {
    height: calc(100vh - 100px);
    width: calc(100% - 50px)
}


#header {
    flex-basis: 100%;
    background-color: rgb(0, 0, 0);
    height: 100px;
}

#main_container {
    background-color: rgb(58, 56, 56);
    height: calc(100vh - 200px);
    flex-basis: 100%;
}









#player {
    background-color: gray;
    height: 100px;
}




@media screen and ( min-width:425px) {

    #sidebar {
        flex-basis: 200px;
    }

    #sidebar i {
        font-size: 1rem;
    }
    

    #sidebar .fa-brands{
        display: none;
    }

    #sidebar span, {
        font-size: 1rem;
    }

    #sidebar .fa-square-plus {
        font-size: 2rem;
    }


    #sidebar #logo-sidebar {
        height: 80px;
        display: block;
        padding: 1.5rem 1rem;

    }

    #sidebar span,
    #sidebar #sidebar-playlist,
    #sidebar hr {
     
        display: block;
    }
}