*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

#sidebar {
    flex-basis: 50px;
    flex-grow: 0;
    background-color: black;
   height: calc(100% - 100px);
    color:rgb(108,108,108);
    overflow: auto;
    font-size: 0.9rem;
}

#sidebar .fa-house,
#sidebar .fa-spotify,
#sidebar-playlist h3 {
    color: white;
    opacity: 100%;
}

.green1 {
    height: 22px;
    width: 2px;
    background-color: green;
}


#sidebar #logo-sidebar {
    display: none;
}

.padd-bar {
    height: calc(100vh - 100px);
}

#sidebar .flex-column .flex,
ul, li, hr{
    margin-top: 0.7rem;
}
#sidebar h3 {
    margin-top: 1.2rem;
}

#houseicon {
    margin-top: 0;
 }
 


#user span {
font-size: 1.2rem;
font-weight: bold;
}

.hv-white {
    padding: 0rem 0.5rem 0rem 0.5rem
}



#sidebar i{
    font-size: 1.5rem;
    opacity: 60%;
}

#sidebar span {
    display: none;
}

#sidebar #sidebar-playlist {
    display: none;
}

#sidebar hr {
    display: none;
}

#bottom-icon i{
    font-size: 1rem;
}

#user {
    padding-bottom: 10px;
}

#circle-user{
    background-color: grey;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
#circle-user img{
    height: 100%;
    width:100%
}

#main_container {
    padding: 0rem 1rem;
    overflow: auto;
}

#main_container h5 {
    text-transform: uppercase;
    color:rgb(108,108,108);
}

.col-barra{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.70rem;
    flex-basis: 25%;
    padding-bottom: 0.5rem;
}

.gap10 {
    gap: 5px;
}

/* hover*/

#sidebar .hv-white:not(h3, #user):hover{
    color: white;
}

#sidebar .hv-white:not(h3, .no-green):hover{
    border-left: 3px solid greenyellow;
}


#sidebar .hv-white:hover i{
    opacity: 1;
}

#main_container .hv1-white h5:hover{
    color: white;
}

#player i:not(.play-button, .sound-off):hover {
    font-size: 1.5rem;
}

#player .sound-off:hover {
    font-size: 1rem;
    color: rgba(165, 42, 42, 0.432);
}

#player .play-button:hover {
    color: rgba(172, 255, 47, 0.542);
}

#player .tv-icon:hover {
    color: rgba(64, 230, 224, 0.542);
}

#player .menu-icon:hover {
    color: rgba(26, 97, 25, 0.542);
}

#player .fa-heart:hover {
    color: red;
}

#player .fa-folder:hover {
    color: rgb(200, 198, 48);
}

#player .background-bar:hover .grey-bar{
    background-color: rgb(0,117,255);

}

#player .background-bar:hover .pallino-blu {
    display: block;
}

.img-card:hover .overlay {
    opacity: 1;
}


/* container centrale */

#central {
    height: calc(100vh - 100px);
    width: calc(100% - 50px)
}


#header {
    flex-basis: 100%;
    background-color: rgb(8,11,18);
    height: 100px;
}

#main_container {
    background-color:rgb(20,25,34);
    height: calc(100vh - 200px);
    flex-basis: 100%;
}


#music .img-card {
    flex-basis:calc(100% / 2 - 2%);
    text-align: center;
    margin: 0.5rem 0 1rem;
}

#music{
    padding-bottom: ;
}


.img-card img {
    width: 100%;
    aspect-ratio: 1;
}

.img-card .overlay {
    width: 100%;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.475);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.6s ease;
}

.middle {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.img-card .overlay-play {
    position: absolute;
    color: white;
    font-size: 5rem;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#music h3 {
    color: white;

}

#music h5 {
    text-transform: none;
    color: white;
}

#music h6 {
    color: grey;
    text-transform: none;
}

.circle{
    background-color: grey;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.circle img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}





/* player */

#player {
    background-color: rgb(40,40,40);
    height: 100px;
}

.col40 {
    flex-basis: 40%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    height: 100px;
}

.col40 .fa-circle-play{
    font-size: 2rem;
}

.col40 i {
    color: white;
}

.background-bar {
    width: 80%;
    height: 8px;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.grey-bar {
    width: 20%;
    height: 8px;
    background-color: rgb(191, 191, 191);
    border-radius: 5px;
}

.pallino-blu {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: rgb(0,117,255);
    border: 1px solid rgba(183, 183, 183, 0.519);
    border-radius: 50%;
    right:-10px;
    top:-4px;
    display: none;
}


.timer {
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.col30 {
    flex-basis: 30%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    height: 100px;
}
.volume i {
    color: white;
    font-size: 0.7rem;
}
.col-bot40{
    flex-basis: 40%;
}

.col-bot60{
    flex-basis:58%;
    color: white;
    font-size: 0.8rem;
}

.col-bot60 span {
    font-size: 0.6rem;
}

.col-bot40 img {
    width: 30px;
}

.col-bot40 i{
    font-size: 0.8rem;
    color: white;
}

#bot-none {
    flex-basis: 20%;
    display: none;
}

input[type=range]{
    width: 40%;
    height: 6px;
}

.grey-line {
    opacity: 40%;
   margin: auto;
    width: calc(100% - 2rem); 
}



@media screen and ( min-width:425px) {

    .hv-white {
        padding: 0rem 1rem 0rem 1rem
    }

    #sidebar {
        flex-basis: 200px;
    }

    #sidebar i {
        font-size: 1rem;
    }


    #sidebar .fa-brands{
        display: none;
    }

    #sidebar span, {
        font-size: 1rem;
    }

    #sidebar .fa-square-plus {
        font-size: 2rem;
    }


    #sidebar #logo-sidebar {
        height: 100px;
        display: block;
        padding: 1rem;
    }

    #sidebar span,
    #sidebar #sidebar-playlist,
    #sidebar hr {

        display: block;
    }

    .padd-bar {
        height: calc(100vh - 200px);
    }

    .col-bot40 img {
        width: 40px;
    }

    .col-barra{
        flex-basis:calc(100%/3);
    }

   
}

@media screen and ( min-width:528px) {

    .col-barra{
       font-size: 1rem;
    }
    

    .col-bot40 img {
        width: 50px;
    }

    .col-bot40{
        flex-basis: 30%;
    }

    .col-bot40 i {
        display: none;
    }

    .col-bot60{
        flex-basis:43%;
    }

    #bot-none {
        height: 50px;
        display: flex;
    }

    #bot-none i {
        color:white
    }

    
}

@media screen and ( min-width:628px) {

    .col-bot40 img {
        width: 55px;
    }

    .pulsanti {
        width: 85%;
        margin: 0 auto;
    }

}

@media screen and ( min-width:728px) {

    .col-barra{
        flex-basis: 20%;
     }

    .col-bot40 img {
        width: 65px;
    }

    .background-bar {
        width: 75%;

    }
    

}

@media screen and ( min-width:768px) {

    .col40 {
        flex-basis: 40%;
    }

    #music .flex {
        justify-content: flex-start;
        gap:2%;  }

    #music .img-card {
        flex-basis:calc(100% / 4 - 2%);
        margin: 1rem 0 1rem;
    }
    
    .col-bot40{
        flex-basis: 25%;
    }

    .col-bot40 img {
        width: 70px;
    }

    .col-bot60{
        flex-basis:55%;
    }
    
    #bot-none {
        flex-basis: 10%;
    }

   .volume div .icon-bot {
        font-size: 1.5rem;
    }

    input[type=range]{
        width: 60%;

    }

    #barra .flex {
        justify-content: space-around;
    }
}

@media screen and ( min-width:886px) {

    .col-barra{
        flex-basis:calc(100%/6);
        text-align: center;
     }

     #main_container .barra-top {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .pulsanti {
        width: 75%;
        margin: 0 auto;
    }

}

@media screen and ( min-width:1024px) {


    #music .img-card {
        flex-basis:calc(100% / 6 - 2%);
        margin-bottom: 2rem;
    }
    


    .pulsanti {
        width: 70%;
        margin: 0 auto;
    }

    #main_container .barra-top {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .col-bot40{
        flex-basis: 20%;
    }
 
    .col-bot60{
        flex-basis:65%;
        font-size: 1.1rem;
    }

    .col-bot60 h6 {
        margin-top: 0.5rem;
    }
    #bot-none {
        flex-basis: 10%;
    }

    .col30.volume {
        flex-basis: 25%;
    }
}


@media screen and ( min-width:1300px) {

    .barra-top {
        width: 65%;
        margin: auto;
    }
}