*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

#sidebar {
    flex-basis: 50px;
    flex-grow: 0;
    background-color: black;
   height: calc(100vh - 100px);
    color:rgb(108,108,108);
    overflow: auto;
    font-size: 0.9rem;
}

#sidebar .fa-house,
#sidebar .fa-spotify,
#sidebar-playlist h3 {
    color: white;
}

#houseicon {
   box-shadow: -5px -5px px 5px rgb(40, 184, 11)
}

.green1 {
    height: 22px;
    width: 2px;
    background-color: green;
}

.left{
    top:-2px;
    left: -1rem;
}

#sidebar #logo-sidebar {
    display: none;
}

.padd-bar {
    padding: 0.5rem 0.5rem;
    height: calc(100vh - 100px);
}

#sidebar .flex-column .flex,
ul, li, hr{
    margin-top: 0.7rem;
}
#sidebar h3 {
    margin-top: 1.2rem;
}


#user span {
font-size: 1.2rem;
font-weight: bold;
}




#sidebar i{
    font-size: 1.5rem;
    color:rgb(108,108,108);
}

#sidebar span {
    display: none;
}

#sidebar #sidebar-playlist {
    display: none;
}

#sidebar hr {
    display: none;
}

#bottom-icon i{
    font-size: 1rem;
}

#circle-user{
    background-color: grey;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
#circle-user img{
    height: 100%;
    width:100%
}


/* hover per sidebar */


/* container centrale */

#central {
    height: calc(100vh - 100px);
    width: calc(100% - 50px)
}


#header {
    flex-basis: 100%;
    background-color: rgb(8,11,18);
    height: 100px;
}

#main_container {
    background-color:rgb(20,25,34);
    height: calc(100vh - 200px);
    flex-basis: 100%;
}







/* player */

#player {
    background-color: rgb(40,40,40);
    height: 100px;
}

.col40 {
    flex-basis: 40%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    height: 100px;
}

.col40 .fa-circle-play{
    font-size: 2rem;
}

.col40 i {
    color: white;
}

.background-bar {
    width: 60%;
    height: 8px;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.grey-bar {
    width: 20%;
    height: 8px;
    background-color: rgb(191, 191, 191);
    border-radius: 5px;
}

.timer {
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.col30 {
    flex-basis: 30%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    height: 100px;
}
.volume i {
    color: white;
    font-size: 0.7rem;
}
.col-bot40{
    flex-basis: 40%;
}

.col-bot60{
    flex-basis:58%;
    color: white;
    font-size: 0.8rem;
}

.col-bot60 span {
    font-size: 0.6rem;
}

.col-bot40 img {
    width: 30px;
}

.col-bot40 i{
    font-size: 0.8rem;
    color: white;
}

#bot-none {
    flex-basis: 20%;
    display: none;
}

input[type=range]{
    width: 40%;
    height: 6px;
}




@media screen and ( min-width:425px) {

    #sidebar {
        flex-basis: 200px;
    }

    #sidebar i {
        font-size: 1rem;
    }


    #sidebar .fa-brands{
        display: none;
    }

    #sidebar span, {
        font-size: 1rem;
    }

    #sidebar .fa-square-plus {
        font-size: 2rem;
    }


    #sidebar #logo-sidebar {
        height: 80px;
        display: block;
        padding: 1.5rem 1rem;

    }

    #sidebar span,
    #sidebar #sidebar-playlist,
    #sidebar hr {

        display: block;
    }

    .padd-bar {
        height: calc(100vh - 180px);
        padding: 0.5rem 1rem;
    }

    .col-bot40 img {
        width: 40px;
    }

   
}

@media screen and ( min-width:528px) {

    .col-bot40 img {
        width: 50px;
    }

    .col-bot40{
        flex-basis: 30%;
    }

    .col-bot40 i {
        display: none;
    }

    .col-bot60{
        flex-basis:43%;
    }

    #bot-none {
        height: 50px;
        display: flex;
    }

    #bot-none i {
        color:white
    }

    
}

@media screen and ( min-width:628px) {

    .col-bot40 img {
        width: 55px;
    }

}

@media screen and ( min-width:728px) {

    .col-bot40 img {
        width: 65px;
    }

}

@media screen and ( min-width:768px) {

    .col-bot40{
        flex-basis: 25%;
    }

    .col-bot40 img {
        width: 70px;
    }

    .col-bot60{
        flex-basis:55%;
    }
    
    #bot-none {
        flex-basis: 10%;
    }
}

@media screen and ( min-width:1024px) {

    .col-bot40{
        flex-basis: 20%;
    }
 
    .col-bot60{
        flex-basis:65%;
        font-size: 1.1rem;
    }

    .col-bot60 h6 {
        margin-top: 0.5rem;
    }
    #bot-none {
        flex-basis: 10%;
    }
}
